$font-color: #eceff4; 
$font-color-alt: #E5E9F0;
$font-color-header: #D8DEE9;
$accent-color-orange: #D08770;
$accent-color-red: #BF616A;
$accent-color-yellow: hsl(40, 71%, 73%);
$accent-color-green: #8fbcbb;
$accent-color-purple: #b48ead;
$accent-color-light-green: #a3be8c;
$accent-color-light-blue: #88c0d0;
$accent-color-blue: #81a1c1;
$accent-color-dark-blue: #5e81ac;
$bg-color: #2E3440;


$dark-color-4: #4c566a;
$dark-color-3: #434c5e;
$dark-color-2: #3b4252;

$tag-accent-slop: #bf616a;
$tag-accent-site-stuff: #b48ead;
$tag-accent-music: #d08770;
$tag-accent-files: #ebcb8b;
$tag-accent-code: #a3be8c;
// $tag-accent-files: ;

$font-size: 1.25rem;



