@use "../globals" as g;
$font-family: Helvetica, sans-serif;
$font-size: g.$font-size;

// sometimes this is just easier what can i say
// * {border:1px solid red}

:root {
  max-width:100%;
  width: 100vw;
}

body {
  color: g.$font-color;
  background-color: g.$bg-color;
  font-family: $font-family;
  margin-top: 1%;
  margin-bottom: 5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
main {
  -webkit-font-smoothing: antialiased;
}

section.section { 
  font-size: $font-size;
  margin-top: 0;
  margin-left: 5%;
  margin-right: 5%;

  h1 {
    font-size: 2 * $font-size;
    margin: 0;
  }
}

section.generic-body { 
  text-indent: 5%;
  margin-top: 5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  li {
    text-indent: 0%;
  }
  a {
    text-decoration: none;
  }
}


//used to add accent to tags in explore tab and posts feed.
.tag-accent {
  color: g.$dark-color-4;

  &.tag-site-stuff {
      color: g.$tag-accent-site-stuff;
  } 

  &.tag-slop {
      color: g.$tag-accent-slop;
    }

  &.tag-files {
    color: g.$tag-accent-files;
  }

  &.tag-music {
    color: g.$tag-accent-music;
  }

  &.tag-code {
    color: g.$tag-accent-code;
  }
  
  &.tag-useful-stuff {
    color: g.$accent-color-light-blue;
  }

  &.tag-divagations {
    color: g.$accent-color-green;
  }
}