@use "../globals" as g;

$font-family: Helvetica, sans-serif;
$font-size: g.$font-size;

header {
  margin: auto auto 0 auto;
  margin-bottom: 0%;
  //used for "completely generic"
  h1 {
    color: g.$font-color-header;
    font-size: 3.0 * $font-size;
    width: auto;
    padding: 0;
    margin-bottom: 1.35%;
    a {
      color: g.$font-color-header;
      text-decoration: none;
    }
  }
  nav {
    margin-left: 5%;
    margin-bottom: 5%;
  }

  ul {
    transform: skew(-30deg);
    padding: 0;
    //font-size: 0;
    list-style-type: none;
  }

  li {
    font-size: 1.35 * $font-size;
    margin: 0;
    padding: 6px 16px 6px 16px;
    text-align: center;
    display: inline-block;
  
    a {
      display: inline-block;
      transform: skew(30deg);
      text-decoration: none;
      color: g.$font-color;
    }
  }

  #first-nav-item { background-color: g.$accent-color-red; }
  #second-nav-item { background-color: g.$accent-color-orange; }
  #third-nav-item { background-color: g.$accent-color-green; }
  #fourth-nav-item { background-color: g.$accent-color-blue; }
  #last-nav-item { background-color: g.$accent-color-purple; }
}


// little bar that separates header :3
 header::after {
   margin: 0 auto 0 auto;
   margin-bottom: 0;
   display: block;
   color: #4C566A;
   border-bottom-style: solid;
   width: 25%;
   content: "";
 }