@use "../globals" as g;

$font-family: Helvetica, sans-serif;
$font-size: g.$font-size;

header {
  margin: auto auto 3% auto;
  h1 {
    color: g.$font-color-header;
    font-size: 3.0 * g.$font-size;
    width: auto;
    padding: 0;
    margin-bottom: 1.35%;
    a {
      color: g.$font-color-header;
      text-decoration: none;
    }
  }
  nav {
    margin-left: 5%;
    margin-bottom: 4%;
  }

  ul {
    transform: skew(-30deg);
    padding: 0;
    //font-size: 0;
    list-style-type: none;
  }

  li {
    font-size: 1.35 * g.$font-size;
    margin: 0 0.3rem 0.3rem 0;
    padding: 6px 16px 6px 16px;
    text-align: center;
    display: inline-block;
  
    a {
      display: inline-block;
      transform: skew(30deg);
      text-decoration: none;
      color: g.$font-color;
    }
  }

  #first-nav-item { background-color: g.$accent-color-red; }
  #second-nav-item { background-color: g.$accent-color-orange; }
  #third-nav-item { background-color: g.$accent-color-green; }
  #fourth-nav-item { background-color: g.$accent-color-blue; }
  #last-nav-item { background-color: g.$accent-color-purple; }
}


// little bar that separates header :3
#header-sep {
  margin: 0 auto 0.3rem auto;
  display: block;
  color: #4C566A;
  border-bottom-style: solid;
  width: 25%;
  content: "";
}