{% extends "base.html" %}

{% block content %}
  <section class="feed">
      <h1 class="title">
        {{term.name}} <span class="tag-accent tag-{{term.name | slugify}}">/</span>
      </h1>




      <ul>
        {#
          Taxonomies cannot be sorted, so we will have to do so ourselves.
          This relies on get_taxonomy_term returning the specified term in a state before it's pages
          are paginated. Why don't we just not use pagination? -> when we use pagination
          this template will be invoked for us, we just need to keep track of our current pager we are on.
          unfortunately this means for every pager we have we have to sort a whole term...... lol.
          idk if i need to use the {%- -%} style syntax for whitespace escaping in these logic type blocks
          but better safe than sorry. i would love it if you would be so kind as to inform me.
        #}



        {# 
          We get a list of all of a term's pages, then using the index of the pager we are currently on,
        plus the length of the array of it's posts, we can emulate pagination over a pre-sorted term-page-list
        #}
        {%- set current_term = get_taxonomy_term(kind="tags", term=term.name) -%}
        {%- set current_term_sorted_pages = current_term.pages | sort(attribute="date") | reverse -%}
        {# we use the length of the current pager to determine how far we need to iterate still #}
        {%- set current_pager_length = paginator.pages | length -%}
        {%- set page_first_term_index = (paginator.current_index - 1) * paginator.paginate_by -%}
        {%- set page_last_term_index = page_first_term_index + current_pager_length -%}

        {# this is useful for debugging, should probably get syntax highlighting working though. #}
        {# <pre> {{ current_term_sorted_pages | json_encode(pretty=true) }} </pre> #}

        {# here's where we make the slices#}
        {%- for page in current_term_sorted_pages | slice(start=page_first_term_index, end=page_last_term_index) -%}
        {%- set max_slashes = 3 -%}
        {%- set num_tags = page.taxonomies["tags"] | length -%}
        <li>
          <a href="{{ page.permalink | safe }}">
            <span class="accent-tag-slashes">
              {%- if num_tags < max_slashes -%}
                {%- for i in range(end=max_slashes - num_tags) -%}
                  /
                {%- endfor -%}
              {%- endif -%}
              </span>
              {%- for tag in page.taxonomies["tags"] -%}
                {%- if loop.index0 < 3 -%}
                 <span class="tag-accent tag-{{tag | slugify}}"><b>/</b></span>
                 {%- set_global slash_counter = loop.index-%}
                {%- endif-%} 
              {%- endfor -%}
            </span>
           <i> {{ page.title }}</i>
          </a>
        </li>
        {% endfor %}
      </ul>
</section>
<section class="feed-nav">
  {% if paginator.previous %}
    <a href="{{paginator.previous}}" class="feed-nav-prev"><span class="feed-nav-arrow">&#10096;</span><span class="nav-text"> prev</span></a>
  {% endif %}
  {% if paginator.next and paginator.previous %}
  <span class="tag-accent tag-{{term.name | slugify}}"> / </span>
  {% endif %}
  {% if paginator.next %}
    <a href="{{paginator.next}}"class="feed-nav-next"><span class="nav-text">next </span><span class="feed-nav-arrow">&#10097;</span></a>
  {% endif %}
</section>

{% endblock content %}
