{% extends "base.html" %}

{% block content %}
  <section class="feed">
      <h1>
        {{term.name}} <span class="tag-accent tag-{{term.name | slugify}}">/</span>
      </h1>
      <ul>
        {% for page in paginator.pages %}
        {%- set max_slashes = 3 -%}
        {%- set num_tags = page.taxonomies["tags"] | length -%}
        <li>
          <a href="{{ page.permalink | safe }}">
            <span class="accent-tag-slashes">
              {%- if num_tags < max_slashes -%}
                {%- for i in range(end=max_slashes - num_tags) -%}
                  /
                {%- endfor -%}
              {%- endif -%}
              </span>
              {%- for tag in page.taxonomies["tags"] -%}
                {%- if loop.index0 < 3 -%}
                 <span class="tag-accent tag-{{tag | slugify}}"><b>/</b></span>
                 {%- set_global slash_counter = loop.index-%}
                {%- endif-%} 
              {%- endfor -%}
            </span>
           <i> {{ page.title }}</i>
          </a>
        </li>
        {% endfor %}
      </ul>
</section>

{% endblock content %}
