@use "../globals" as g;

span.tag-display {
  padding: 0;
  float: right;
  list-style-type: none;
  display: inline;
  font-size: 0px;
  text-align: center;

  a {
    margin: 0px 2px 0px 2px;
    padding: 4px 14px 4px 14px;
    display: inline-block;
    text-decoration: none;
    color: g.$font-color;
    font-size: g.$font-size;
    transform: skew(30deg);
    span.rotate {
      display: inline-block;
      transform: skew(-30deg);
    }
  } 
}



//map tag background colors
@each $tag, $color in g.$tag-colors {
  .tag-display-accent-#{$tag} {
    background-color: $color;
    &:before {
      background-color: $color;
    }
  }
}


  