@use "../globals" as g;

section.feed-nav {
  display: block;
  width: 50%;
  margin: 5% auto 0 auto;
  text-align: center;
  font-size: 2 * g.$font-size;

  a {
    color: g.$font-color; 
    text-decoration: none;
  }
  .feed-nav-prev {
  }
  .feed-nav-next {
  }

  .feed-nav-arrow {
    color: #4C566A;
  }
}