@use "../globals" as g;

section.feed-nav {
  display: block;
  width: 100%;
  margin: 0 auto 0 auto;
  text-align: center;
  font-size: 2 * g.$font-size;

  a {
    margin: auto;
    display: inline-block;
    color: g.$font-color; 
    text-decoration: none;
  }
  .nav-text {
    vertical-align: middle;
    text-align: center;
    font-size: 1.75 * g.$font-size;
  }
  .feed-nav-prev {
  }
  .feed-nav-next {
  }

  .feed-nav-arrow {
    color: #4C566A;
    vertical-align: middle;
  }
}