@use "../globals" as g;
$font-size: g.$font-size;
$font-family: Helvetica, sans-serif;

section.feed {
  ul {
    list-style: none;
    padding-left: 1%;
    padding-right: 1%;
  }
  li { 
    display: block;
    margin: 4.5% 3% 4.5% 3%;
    font-size: 1.5 * $font-size;
  }
  a {
    color: g.$font-color-alt;
    text-decoration: none;

    span.accent-tag-slashes {
      color: g.$dark-color-4;
      font-weight: bold;
    }
  }
}