@use "../globals" as g;

section.post {
  .title {
    // color: g.$font-color-header;
    margin-bottom: 2.5%;
  }
}

section.post-header {
  font-size: 1.2 * g.$font-size;
  margin-bottom: 2.5%;
}

section.post-body {
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 3%;
  text-indent: 0%;
  color: g.$font-color-header;
  
  li {
    text-indent: 0%;
  }
  a {
    color: g.$accent-color-green;
    font-style: italic;
    text-decoration: none;
  }


  // these are recommended defaults from the zola documentation  https://www.getzola.org/documentation/content/syntax-highlighting/ 
  pre {
    font-size: 1rem;
    padding: 1rem;
    overflow: auto;
    scrollbar-color: g.$dark-color-2 g.$dark-color-4;
  }
  // The line numbers already provide some kind of left/right padding
  pre[data-linenos] {
    padding: 1rem 0;
  }
  pre table td {
    padding: 0;
  }
  // The line number cells
  pre table td:nth-of-type(1) {
    text-align: center;
    user-select: none;
  }
  pre mark {
    // If you want your highlights to take the full width.
    display: block;
    // The default background colour of a mark is bright yellow
    background-color: rgba(254, 252, 232, 0.9);
  }
  pre table {
    width: 100%;
    border-collapse: collapse;
  }
}