{% extends "base.html" %}

{% block content %}
<section class="post">
  <h1 class="title">
    {{ page.title }}
  </h1>
  <section>
    <strong>{{ page.date | date(format="%Y-%m-%d") }}</strong>
    <span class="tag-display">
    {% for tag in page.taxonomies["tags"] %}
    {% if loop.first and not loop.last %}
      <a class="tag-display-first tag-display-accent-{{tag | slugify}}" href="{{config.base_url}}/tags/{{tag | slugify}}"><span class="rotate">{{ tag | slugify }}</span></a>
    {% elif loop.last %}  
      <a class="tag-display-last tag-display-accent-{{tag | slugify}}" href="{{config.base_url}}/tags/{{tag | slugify}}"><span class="rotate">{{ tag | slugify }}</span></a>
      <span class="tag-display-end tag-display-accent-{{tag | slugify}}">&nbsp;</span> 
    {% else %}
      <a class="tag-display-accent-{{tag | slugify}}" href="{{config.base_url}}/tags/{{tag | slugify}}"><span class="rotate">{{ tag | slugify }}</span></a>
    {% endif %}
    {% endfor %}
    </span>
  </section>
  <section class="post-body">
    {{ page.content | safe }}
  </section>
</section>
{% endblock content %}