<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% block nofreeslop %}{% endblock %}
    {% block head %}
    <title>riley world</title>
    <meta name="description" content="you can be who you want to be right now">
    <meta name="author" content="Riley M">
    {% endblock %}
    {% block rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
    {% endblock %}
    <link rel="stylesheet" href="/main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=1">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=1">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=1">
    <link rel="manifest" href="/site.webmanifest?v=1">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=1" color="#2e3440">
    <link rel="shortcut icon" href="/favicon.ico?v=1">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="keywords" content="music, posting">
    <meta property="og:image" content="/ogimg.png"/>
    <meta name="theme-color" content="#2E3440">
  </head>
  <body>
    <header>
      <h1><a href="/">riley world.</a></h1>
      <nav>
        <ul>
        <li id="first-nav-item"><a href="/">posts</a></li>
        <li id="second-nav-item"><a href="/tags">explore</a></li>
        <li id="third-nav-item"><a href="https://thisuserma.bandcamp.com">music</a></li>
        <li id="fourth-nav-item"><a href="/about">about</a></li>
        <li id="last-nav-item"><a href="/rss.xml">&nbsp;rss&nbsp;</a></li>
        </ul>
      </nav>
      <div id="header-sep"></div>  
    </header>
    <main>
      <section class="section">
        {% block content %}{% endblock %}
      </section>
    </main>
  </body>
</html>